.droplist,
.droplist-title {
  display: flex;
  align-items: center;
  background-color: blanchedalmond;
}

.droplist:hover {
  cursor: pointer;
}

.droplist:active .droplist-icon {
  transform: translateY(2px);
}




.list {
    display: block;
}

.noList{
    display: none;
}