.button {
  color: #fff;
  padding: .3em .5em;
  border-radius: 3px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background: var(--primary-color-dimmed);
  transition: all .2s;
}

.button a {
  margin: 0;
  padding: 0;
}

.button:hover {
  background: none;
}

.button:hover a {
  color: #fff !important;
}