.card {
  width: 240px;
  height: 300px;
  gap: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--primary-contrast);
  border-radius: 5px;
  color: #fff;
  flex-direction: column;
  padding: 1em;
}

.card-title {
  font-size: 1.2em;
  font-weight: 800;
}

.card p {
  font-size: 1em;
}