@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat+Alternates:wght@300;400;500;600;700&family=Montserrat+Subrayada:wght@400;700&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* Colors */
  --primary-color: #629955;
  --primary-bg: #F1F2F3;
  --primary-color-dimmed: #6299554a;
  --primary-contrast: #1D1D1D;
  --secondary-color: #BFC5C2;
  /* End colors */

  color-scheme: light;
  background-color: #F1F2F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'DM Sans', sans-serif;
}

h1,
.title {
  font-size: 2em;
  font-family: 'Montserrat Alternates', sans-serif;
}

.brand {
  font-size: 1.6rem;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.font-bold {
  font-weight: 800;
}

.font-light {
  font-weight: 200;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
